<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.appkode.school" >


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name=".BootBroadCastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".activity.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TeacherActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.StudentActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <service android:name=".service.ClientService"
            android:process=":clientService"/>
        <service android:name=".service.ServerService"
            android:process=":serverService"/>
        <service android:name=".service.StartService"
                 android:process=":start_service"/>
    </application>

</manifest>
